body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

a {
	color: #099900;
}
.error {
    color: red;
}

.success {
    color: #099900;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

input[type=password] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

align-right {
	position:relative;
	right: 0px;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-author {
    font-size: 16px;
    font-weight: bold;
	color: #999000;
}

.welcome {
    font-size: 20px;
    font-weight: bold;
	color: #999000;
}

.post-likes {
    font-size: 12px;
    font-weight: bold;
}


.post-comments {
    font-size: 12px;
	color: #099900;
	margin-left: 20px;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.logout {
	position: absolute;
	right: 10px;
	top: 5px;
	color: #999;
}


.login {
	position: absolute;
	right: 10px;
	top: 5px;
	color: #999;
}


.signup {
	position: absolute;
	right: 100px;
	top: 5px;
	color: #999;
}

.post-content {
    margin-top: 5px;
}

hr {
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}
