{% extends "base.html" %}

{% block content %}

  {% if error_msg %}
    <div class="error">
	<h1>{{error_msg}}</h1>
	<form method="get" action="/blog">
	  <button>Return to blog</button>
	</div>
  {% elif success_msg %}
    <div class="success">
	<h1>{{success_msg}}</h1>
	<form method="get" action="/blog">
	  <button>Return to blog</button>
	</div>
  {% else %}
  <h2>edit comment</h2>

    
    <form method="post" action="/blog/save_comment/{{p.key().id()}}">
      

      <label>
        <div>blog</div>
        <textarea name="content">{{p.content}}</textarea>
      </label>
      <input type="submit">
    </form>
  {% endif %}
{% endblock %}
