{% extends "base.html" %}

{% block content %}

{% if username=="" %}
<div class="align-right">
  <form method="get" action="/signup">
    <button type="submit">Sign Up</button>
  </form>
  <form method="get" action="/login">
    <button type="submit">Login</button>
  </form>
</div>
{% else %}

<div class="align-right">
  <form method="get" action="/logout">
    <button type="submit">Logout</button>
  </form>
</div>

{% endif %}


  {% for p in blogposts %}
    {{ p.render() | safe }}
	
    <br><br>
  {% endfor %}

{% endblock %}
