{% extends "base.html" %}

{% block content %}

<div class="post">
  <div class="post-heading">
    <div class="post-author">
	  {{p.author}}
	</div>
    <div class="post-title">
      {{p.subject}}
    </div>
    <div class="post-likes">
	  <table class="actions-table">
	    <tr>
		   
           <td>		   
	         <form class="post-like-button" method="post" action="/like/{{p.key().id()}}">
               <button type="submit">Like</button>
             </form>
		   </td>
		   <td>
		     <form class="post-delete-button" method="post" action="/delete/{{p.key().id()}}">
               <button type="submit">Delete</button>
             </form>
	
		   </td>
		   <td>
		     <form class="post-edit-button" method="post" action="/edit/{{p.key().id()}}">
               <button type="submit">Edit</button>
             </form>
		   </td>
		   <td>
		     {{p.created.strftime("%b %d, %Y")}}
		   </td>
		   <td>
		     Likes:{{p.likes}} 
           </td>
		   
		</tr>
	  </table>
      
	
	 </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
</div>

{% endblock %}
