{% extends "base.html" %}

{% block content %}


<form method="post">
  <fieldset>
    <legend>Signup:</legend>
    User name:<br>
    <input type="text" name="username" value="{{username}}"><div class="error">{{error_username}}</div><br>
    Password:<br>
    <input type="password" name="password" value=""><div class="error">{{error_password}}</div><br>
	Verify password:<br>
	<input type="password" name="verify" value=""><div class="error">{{error_verify}}</div><br>
	Email (optional):<br>
    <input type="text" name="email" value=""><div class="error">{{error_email}}</div><br><br>
    
    <input type="submit" value="Submit">
  </fieldset>
</form>
	
	
	      <form method="get" action="/login">
        <button class="logout" type="submit">Login</button>
      </form>

	
{% endblock %}